@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
  
    .scrollbar-thin::-webkit-scrollbar {
      width: 10px;
      height: 4px;
    }
  
    .scrollbar-thin::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-radius: 20px;
      background-clip: padding-box;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
}
  
    .scrollbar-thin::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .dark .scrollbar-thin::-webkit-scrollbar-thumb {
      background: #1f2937;

      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      background-clip: padding-box;
    }
  }
  